@use 'variables';
@use 'mixins';

body {
  background-color: #ccc;
  margin: 25px auto;
  width: 960px;
  main {
    background: url('../assets/stages/honda.png') no-repeat;
    height: 224px;
    overflow: hidden;
    width: 575px;
    margin: 0 auto 25px auto;
  }
  .character {
    height: 193px;
    left: 275px;
    position: relative;
    top: 15px;
    width: 127px;
    span {
      position: absolute;
      bottom: 0;
      text-align: right !important;
    }
  }
  .logo {
    background: url('../assets/game/sf-logo.png') no-repeat;
    height: 180px;
    margin: 0 auto 25px auto;
    width: 600px;
  }
}

.health {
  background: url('../assets/character/health.png') no-repeat;
  position: absolute;
  margin: 10px 0 0 10px;
  width: 225px;
  height: 44px;
  z-index: 2;
  progress {
    float: left;
    height: 8px;
    margin: 2px;
    width: 219px;
    background: #eee;
    border: none;
    color: #66e860;
    z-index: 1;
    &::-moz-progress-bar {
      background-image: variables.$progress-gradient;
    }
    &::-webkit-progress-value {
      background-image: variables.$progress-gradient;
    }
  }
  .player-icon {
    background: url('../assets/character/dudley.png') no-repeat;
    display: block;
    float: left;
    height: 28px;
    margin: 1px 2px 2px 6px;
    width: 27px;
  }
  p {
    color: #fff;
    float: left;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: -2px 0 0 20px;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    text-transform: uppercase;
  }
}

main .stance {
  @include mixins.spriteAnimation(1.5s, 20, stance, infinite);
  background-image: url('../assets/sprites/stance.png');
  height: 116px;
  margin-left: -225px;
  width: 106px;
}
@keyframes stance {
  from {
    background-position: 0px 116px;
  }
  to {
    background-position: -2120px 116px;
  }
}

main .duck {
  @include mixins.spriteAnimation(0.8s, 10, duck, 1);
  background-image: url('../assets/sprites/duck.png');
  height: 76px;
  width: 97px;
}
@keyframes duck {
  from {
    background-position: 0px 76px;
  }
  to {
    background-position: -970px 76px;
  }
}

main .fall {
  @include mixins.spriteAnimation(1.6s, 23, fall, 1);
  background-image: url('../assets/sprites/fall.png');
  height: 137px;
  width: 200px;
}
@keyframes fall {
  from {
    background-position: 0px 137px;
  }
  to {
    background-position: -4600px 137px;
  }
}

main .jump {
  @include mixins.spriteAnimation(1.3s, 24, jump, 1);
  background-image: url('../assets/sprites/jump.png');
  height: 193px;
  width: 106px;
}
@keyframes jump {
  from {
    background-position: 0px 193px;
  }
  to {
    background-position: -2544px 193px;
  }
}

main .rest {
  @include mixins.spriteAnimation(1.6s, 20, rest, 1);
  background-image: url('../assets/sprites/rest.png');
  height: 123px;
  width: 102px;
}
@keyframes rest {
  from {
    background-position: 0px 123px;
  }
  to {
    background-position: -2040px 123px;
  }
}

main .walk {
  @include mixins.spriteAnimation(0.7s, 12, walk, 1);
  background-image: url('../assets/sprites/walk.png');
  height: 125px;
  width: 116px;
}
@keyframes walk {
  from {
    background-position: 0px 125px;
  }
  to {
    background-position: -1392px 125px;
  }
}

main .walk-backwards {
  @include mixins.spriteAnimation(0.7s, 12, walk-backwards, 1);
  background-image: url('../assets/sprites/walk-backwards.png');
  height: 128px;
  width: 109px;
}
@keyframes walk-backwards {
  from {
    background-position: 0px 128px;
  }
  to {
    background-position: -1308px 128px;
  }
}

main .corkscrew-blow {
  @include mixins.spriteAnimation(1.6s, 31, corkscrew-blow, 1);
  background-image: url('../assets/sprites/corkscrew-blow.png');
  height: 125px;
  width: 177px;
}
@keyframes corkscrew-blow {
  from {
    background-position: 0px 125px;
  }
  to {
    background-position: -5487px 125px;
  }
}

main .cross {
  @include mixins.spriteAnimation(0.3s, 8, cross, 1);
  background-image: url('../assets/sprites/cross.png');
  height: 113px;
  width: 155px;
}
@keyframes cross {
  from {
    background-position: 0px 113px;
  }
  to {
    background-position: -1240px 113px;
  }
}

main .dart-shot {
  @include mixins.spriteAnimation(0.6s, 16, dart-shot, 1);
  background-image: url('../assets/sprites/dart-shot.png');
  height: 116px;
  width: 143px;
}
@keyframes dart-shot {
  from {
    background-position: 0px 116px;
  }
  to {
    background-position: -2288px 116px;
  }
}

main .hook {
  @include mixins.spriteAnimation(0.3s, 13, hook, 1);
  background-image: url('../assets/sprites/hook.png');
  height: 116px;
  width: 118px;
}
@keyframes hook {
  from {
    background-position: 0px 116px;
  }
  to {
    background-position: -1534px 116px;
  }
}

main .jab {
  @include mixins.spriteAnimation(0.2s, 6, jab, 1);
  background-image: url('../assets/sprites/jab.png');
  height: 113px;
  width: 141px;
}
@keyframes jab {
  from {
    background-position: 0px 113px;
  }
  to {
    background-position: -846px 113px;
  }
}

main .jet-uppercut {
  @include mixins.spriteAnimation(1.6s, 26, jet-uppercut, 1);
  background-image: url('../assets/sprites/jet-uppercut.png');
  height: 199px;
  width: 152px;
}
@keyframes jet-uppercut {
  from {
    background-position: 0px 199px;
  }
  to {
    background-position: -3952px 199px;
  }
}

main .jumping-elbow {
  @include mixins.spriteAnimation(0.6s, 30, jumping-elbow, 1);
  background-image: url('../assets/sprites/jumping-elbow.png');
  height: 166px;
  width: 141px;
}
@keyframes jumping-elbow {
  from {
    background-position: 0px 166px;
  }
  to {
    background-position: -4230px 166px;
  }
}

main .launcher {
  @include mixins.spriteAnimation(0.8s, 23, launcher, 1);
  background-image: url('../assets/sprites/launcher.png');
  height: 133px;
  width: 182px;
}
@keyframes launcher {
  from {
    background-position: 0px 133px;
  }
  to {
    background-position: -4186px 133px;
  }
}

main .uppercut {
  @include mixins.spriteAnimation(0.5s, 18, uppercut, 1);
  background-image: url('../assets/sprites/uppercut.png');
  height: 138px;
  width: 127px;
}
@keyframes uppercut {
  from {
    background-position: 0px 138px;
  }
  to {
    background-position: -2286px 138px;
  }
}

main .block {
  @include mixins.spriteAnimation(0.8s, 10, block, 1);
  background-image: url('../assets/sprites/block.png');
  height: 114px;
  width: 93px;
}
@keyframes block {
  from {
    background-position: 0px 114px;
  }
  to {
    background-position: -930px 114px;
  }
}

main .entrance {
  @include mixins.spriteAnimation(8.8s, 63, entrance, 1);
  background-image: url('../assets/sprites/entrance.png');
  height: 219px;
  margin-left: -275px;
  width: 154px;
}
@keyframes entrance {
  from {
    background-position: 0px 219px;
  }
  to {
    background-position: -9702px 219px;
  }
}
