{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "curly": "error",
    "default-case": "error",
    "eqeqeq": ["error", "always"],
    "no-alert": "warn",
    "no-console": "warn",
    "no-debugger": "warn",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-eval": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "error",
    "no-new-func": "error",
    "no-octal": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-shadow-restricted-names": "error",
    "no-sparse-arrays": "error",
    "no-trailing-spaces": "error",
    "no-void": "error",
    "no-with": "error",
    "quotes": ["warn", "single"],
    "semi": ["error", "always"],
    "valid-typeof": "error",
    "yoda": "error"
  }
}
